.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.layout {
  display: flex;
}

main {
 position: relative;
  flex-grow: 1;
  padding: 1rem;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.1);
  background-color: white;
}