header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--block-border-color);
  padding: 1rem;
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > input {
  font-size: 15px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid var(--block-child-border-color);
  color: var(--text-color);
}

form > div > input.invalid {
  border-bottom: 1px solid red;
}

form > div small {
  color: red !important;
  font-size: 0.75rem;
}

button {
  outline: none;
  border: 1px solid var(--block-child-border-color);
  border-radius: 7px;
  height: 30px;
  background-color: var(--block-child-background);
  cursor: pointer;
  color: var(--text-color);
}