header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--block-border-color);
    padding: 1rem;
    font-size: 25px;
  }

  main {
    width: 100%;
    padding: 1rem;
  }
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form>div>input {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid var(--block-child-border-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: 1px solid var(--block-child-border-color);
  border-radius: 7px;
  height: 30px;
  background-color: var(--block-child-background);
  cursor: pointer;
  color: var(--text-color);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}