table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--block-child-border-color);
  padding: 8px;
}

th {
  background-color: var(--block-background);
}

td {
  background-color: var(--block-child-background);
}