.light-theme{
  --background-color: rgb(236, 236, 236);
  --block-background: white;
  --block-border-color: rgb(235, 235, 235);
  --header-text:rgb(63, 81, 181);
  --block-text: #d8dde2;
  --text-color: #010409;
  --footer-color: rgb(230, 227, 227);
  --block-child-background: rgb(236, 236, 236);
  --block-child-background-hover: rgb(221, 221, 221);
  --block-child-border-color: #1c2430;
  --sidebar-color:rgb(248, 248, 248);
  /*scrollbar*/
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #c0c0c0;
  --scrollbar-thumb-border: #f0f0f0;
  --scrollbar-thumb-hover: #a0a0a0;
}

.dark-theme {
  --background-color: #0d1117;
  --block-background: #010409;
  --block-border-color: rgb(5, 10, 17);
  --sidebar-color:rgb(47, 46, 46);
  --block-text: #0d1117;
  --text-color: #dae0e6cb;

  --block-child-background: #21262d;
  --block-child-background-hover: #1e2229;
  --block-child-border-color: #30363d;

  /*scrollbar*/
  --scrollbar-track: #080a0f;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-border: #121518;
  --scrollbar-thumb-hover: #777;
}

.new-theme{
  --background-color: #0d1712;
  --block-background: #96f5b483;
  --block-border-color: rgb(255, 255, 255);
  --header-text:white;
  --block-text: #0d1117;
  --text-color: #dae0e6cb;
  --nav-text:white;
  --footer-color: #549869;
  --block-child-background: #558e3fb3;
  --block-child-background-hover: #1e2229;
  --block-child-border-color: #033b0a;
  --sidebar-color: rgb(135, 160, 135);
}
