* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-indigo-500: rgb(63, 81, 181);
  --block-background: white;
  --block-border-color: rgb(235, 235, 235);
  --focus-color: rgb(63,81,181);
  --block-child-background: 3gb(236,236,236)
  --block-child-border-color: #1c2430;
}

body {
  background-color: black;
  color: var(--text-color);

  font-family: 'Open Sans 700', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-thumb-border);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
