:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.users-page__header {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--block-background);
  border: 1px solid var(--block-border-color);
}

.users-page__header>p {
  font-size: 28px;
  color: var(--color-indigo-500);
}

.users-page__content {
  display: flex;
  height: 100%;
  gap: 1rem;
}

.users-page__table-wrapper {
  width: 70%;
  background-color: var(--block-background);
}

.users-page__aside {
  width: 30%;
  background-color: var(--block-background);
}

.users-page__aside>header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--block-border-color);
  padding: 1rem;
  font-size: 25px;
}

.users-page__aside>main {
  width: 100%;
  padding: 1rem;
}

.users-page__header>button {
  font-size: 14px;
  padding: 7px;
  border-radius: 7px;
  color: white;
  outline: none;
  background-color: var(--block-child-background);
  border: 1px solid var(--block-child-border-color);
  color: var(--text-color);
  cursor: pointer;
}